:root {
  --black: #2e2e2c;
  --sienna: #a26530;
  --sienna-2: #8a6d53;
  --black-2: #252a29;
  --white: white;
  --tan: #bea791;
  --dim-grey: #5d6263;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.section {
  background-color: var(--black);
  text-align: left;
  flex-wrap: wrap;
  place-content: stretch center;
  align-items: center;
  height: auto;
  display: flex;
}

.section.footer {
  background-color: #0000;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section.menu {
  text-align: center;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
}

.section.story {
  height: auto;
}

.section.location {
  background-color: var(--sienna);
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section.gallery {
  background-color: var(--sienna-2);
  height: 100vh;
}

.section.hero {
  background-image: linear-gradient(#000, #fff0), url('../images/Gusta_Hero.jpg');
  background-position: 0 0, 50% 100%;
  background-size: auto, cover;
  height: auto;
  padding-top: 60px;
}

.section.social {
  background-color: var(--black-2);
  height: 300px;
}

.section.cta {
  height: 100px;
}

.section.about {
  background-image: linear-gradient(to right, var(--black-2) 34%, #fff0 50%), linear-gradient(8deg, var(--black-2) 20%, #fff0 40%), linear-gradient(to bottom, var(--black-2), #fff0 35%), url('../images/Gusta_About-Us.jpg');
  background-position: 0 0, 0 0, 0 0, 170% 100%;
  background-repeat: repeat, repeat, repeat, repeat-x;
  background-size: auto, auto, auto, 80%;
  background-attachment: scroll, scroll, scroll, fixed;
  height: 100vh;
}

.container {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.container.footer {
  width: 1100px;
  padding: 0;
}

.container.menu {
  text-align: center;
  flex-wrap: wrap;
  max-width: 1100px;
  display: flex;
}

.container.story {
  text-align: center;
}

.container.location {
  text-align: left;
}

.container.hero {
  text-align: center;
  width: 100%;
}

.container.social {
  width: 1100px;
}

.container.cta {
  flex: 1;
  height: 100%;
  padding: 0;
  display: flex;
}

.container.about {
  width: 1100px;
}

.container.reservation {
  width: 1100px;
  padding-top: 180px;
  padding-bottom: 60px;
  display: flex;
}

.container.dine-discover {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.h1 {
  color: var(--white);
  letter-spacing: 3px;
  margin-top: 0;
  margin-bottom: 40px;
  font-family: Caster One, sans-serif;
  font-size: 64px;
  line-height: 44px;
}

.h2 {
  color: var(--sienna);
  text-align: left;
  letter-spacing: 3px;
  width: 100%;
  margin-top: 0;
  margin-bottom: auto;
  font-family: Caster One, sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 45px;
}

.h2.location {
  color: var(--black-2);
  margin-bottom: 5px;
}

.h2.menu {
  text-align: center;
  font-size: 64px;
}

.h2.social {
  color: var(--white);
  text-align: center;
}

.h2.about {
  text-align: left;
  margin-bottom: 20px;
  line-height: 48px;
}

.h2.reservation {
  text-align: left;
  margin-bottom: 20px;
}

.h2.dine-discover {
  color: var(--white);
  text-align: center;
  line-height: 50px;
  display: none;
}

.h2.error {
  margin-top: 20px;
}

.h3 {
  color: var(--white);
  text-align: left;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Caster One, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.h3.footer {
  color: var(--sienna);
  margin-bottom: 10px;
  font-family: Caster One, sans-serif;
  font-size: 24px;
}

.h3.reservation {
  margin-top: 40px;
  font-family: Caster One, sans-serif;
  font-size: 36px;
}

.h3.hero {
  direction: ltr;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 28px;
  display: none;
}

.about-text {
  color: var(--white);
  width: auto;
  font-family: Inconsolata, monospace;
  font-size: 16px;
  line-height: 25px;
}

.about-text.tab {
  text-align: center;
  justify-content: center;
  font-family: Caster One, sans-serif;
  font-size: 20px;
  display: flex;
}

.about-text.main-tab {
  justify-content: center;
  font-family: Caster One, sans-serif;
  font-size: 26px;
  display: flex;
}

.body {
  background-color: var(--black-2);
}

.button-main {
  background-color: var(--sienna);
  color: var(--white);
  text-align: center;
  border-radius: 10px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
  padding: 20px 40px;
  font-family: Caster One, sans-serif;
  font-size: 24px;
  transition: all .2s;
}

.button-main:hover {
  background-color: var(--sienna-2);
  color: var(--black-2);
}

.button-main.footer {
  text-align: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.button-main.hero {
  width: 20%;
  margin-right: 10px;
}

.button-main.hero:hover {
  background-color: var(--tan);
}

.button-main.form {
  margin-top: 20px;
  margin-bottom: 0;
}

.button-sub {
  background-color: var(--sienna-2);
  color: var(--white);
  border-radius: 10px;
  margin-right: 20px;
  padding: 20px 40px;
  font-family: Caster One, sans-serif;
  font-size: 24px;
  transition: all .2s;
}

.button-sub:hover {
  color: var(--black-2);
  background-color: #bea791;
}

.button-sub.footer {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 20px;
}

.button-sub.hero {
  width: 20%;
  margin-left: 10px;
  margin-right: 0;
}

.button-sub.hero:hover {
  background-color: var(--tan);
}

.button-bare {
  color: var(--white);
  -webkit-text-fill-color: inherit;
  background-color: #0000;
  background-clip: border-box;
  border-radius: 10px;
  margin-right: 20px;
  padding: 20px 40px;
  font-family: Caster One, sans-serif;
  font-size: 24px;
  transition: all .2s;
}

.button-bare:hover {
  color: var(--sienna);
}

.button-bare.story {
  margin-top: 20px;
  margin-right: 0;
}

.food-subtext {
  color: var(--white);
  text-align: left;
  font-family: Inconsolata, monospace;
  font-size: 15px;
}

.food-subtext.footer {
  color: var(--black-2);
  width: auto;
  margin-bottom: 10px;
}

.food-subtext.phone {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Caster One, sans-serif;
  font-size: 25px;
}

.food-subtext.success {
  color: var(--black-2);
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Caster One, sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.food-subtext.error {
  color: var(--black-2);
}

.food-subtext.heading {
  margin-top: 10px;
}

.food-subtext.extra {
  margin-top: 5px;
  font-weight: 700;
}

.line__gold {
  border-top: 1px solid var(--sienna);
  width: 100%;
  height: 1px;
  margin-bottom: 20px;
}

.main-nav {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-menu {
  text-align: center;
  display: block;
}

.navbar {
  background-color: #0000;
  transition: all .2s;
  position: fixed;
  inset: 0% 0% auto;
}

.button-menu {
  color: var(--white);
  -webkit-text-fill-color: inherit;
  background-color: #0000;
  background-clip: border-box;
  border-radius: 10px;
  margin-right: 0;
  padding: 20px 40px;
  font-family: Caster One, sans-serif;
  font-size: 18px;
  transition: all .2s;
}

.button-menu:hover, .button-menu.w--current {
  color: var(--sienna);
}

.footer-wrapper {
  padding: 0;
  display: flex;
}

.footer-item {
  flex: 1;
  padding: 20px;
}

.footer-item.logo {
  padding-left: 0;
  padding-right: 40px;
}

.social-wrapper-footer {
  margin-top: 20px;
}

.div-block-2 {
  justify-content: space-between;
  display: flex;
}

.hero-text-wrapper {
  text-align: center;
  width: 100%;
}

.menu-item {
  margin-top: 20px;
}

.menu-item.half {
  text-align: left;
  width: 100%;
  margin-top: 20px;
}

.menu-heading {
  flex: 0 auto;
  width: 100%;
  margin-bottom: 60px;
}

.item-heading {
  text-align: left;
  margin-bottom: 20px;
}

.item-wrapper {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.pizza-item-column {
  flex: 1;
}

.item-style {
  margin-bottom: 0;
  padding: 0 15px 30px;
}

.pasta-heading {
  margin-bottom: 40px;
}

.pasta-item {
  margin-bottom: 0;
  padding: 20px;
}

.salad-heading {
  margin-bottom: 40px;
}

.salad-item {
  margin-bottom: 0;
  padding: 20px;
}

.story-text-wrapper {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.location-text-wrapper {
  text-align: center;
  width: 100%;
}

.location-map-wrapper {
  margin-top: 40px;
}

.image-wrapper {
  margin-bottom: 60px;
}

.dessert-heading {
  margin-bottom: 40px;
}

.dessert-item {
  margin-bottom: 0;
  padding: 20px;
}

.brand {
  flex: 0 auto;
  order: 0;
  align-self: auto;
  transition: all .2s;
  display: block;
}

.footer-image {
  filter: sepia();
  margin-right: 10px;
  transition: all .2s;
}

.footer-image:hover {
  filter: sepia(0%);
}

.nav-logo {
  opacity: 1;
  padding: 10px;
  display: block;
  position: static;
  inset: 0% auto auto 0%;
}

.social-wrapper-main {
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  display: flex;
}

.social-button-main {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.image-cta {
  filter: sepia();
  padding-left: 10px;
  padding-right: 10px;
  transition: all .2s;
}

.image-cta:hover {
  filter: sepia(0%);
}

.button-wrapper {
  flex: 1;
}

.about-text-wrapper {
  width: 35%;
}

.button-cta {
  background-color: var(--sienna);
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Caster One, sans-serif;
  font-size: 30px;
  transition: all .2s;
}

.button-cta:hover {
  background-color: var(--black);
  color: var(--sienna);
}

.button-cta.reservation {
  background-color: var(--dim-grey);
}

.button-cta.reservation:hover {
  background-color: var(--black);
}

.reservation-wrapper {
  flex: 1;
  padding: 10px 10px 0;
}

.location-wrapper {
  flex: 1;
  padding: 10px;
}

.form-text-label {
  color: var(--white);
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.form-text-field {
  border-radius: 10px;
}

.reservation-form {
  flex-wrap: wrap;
  padding: 20px 10px 0 0;
  display: flex;
}

.form-field-wrapper {
  width: 100%;
  padding-right: 15px;
}

.form-field-wrapper.date, .form-field-wrapper.guests {
  width: 50%;
}

.footer-link {
  color: var(--black-2);
  text-decoration: none;
  transition: all .2s;
}

.footer-link:hover {
  color: var(--sienna);
  font-weight: 400;
}

.textarea {
  border-radius: 10px;
}

.slider {
  width: 100%;
  height: 100%;
}

.slide {
  background-image: url('../images/Gusta_Pizza-2.jpg');
  background-position: 0 0;
  background-size: cover;
}

.slide._1 {
  background-position: 50%;
}

.slide._3 {
  background-image: url('../images/Gusta_Pizza-9.jpg');
  background-position: 50%;
}

.slide._4 {
  background-image: url('../images/Gusta_Pizza-4.jpg');
  background-position: 50%;
}

.slide._5 {
  background-image: url('../images/Gusta_Pizza-6.jpg');
  background-position: 50%;
}

.slide._6 {
  background-image: url('../images/Gusta_Pizza-7.jpg');
  background-position: 50% 70%;
}

.html-embed {
  border-radius: 0;
  margin-top: 20px;
}

.error-message {
  margin-right: 30px;
}

.image {
  text-align: left;
  margin-top: 20px;
  margin-right: 60px;
}

.success-message {
  text-align: center;
}

.link {
  color: var(--black-2);
  text-decoration: none;
}

.image-2 {
  margin-bottom: 20px;
  display: block;
}

.tab-style {
  background-color: var(--tan);
}

.tab-style.sub-tab {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.tab-style.sub-tab.w--current {
  background-color: var(--sienna-2);
}

.tab-style.main-tab {
  background-color: var(--sienna-2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 49.5%;
  margin-bottom: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tab-style.main-tab.w--current {
  background-color: var(--sienna);
  border-top-left-radius: 5px;
}

.tabs-menu {
  justify-content: space-between;
  display: flex;
}

.tabs-menu-2 {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.main-menu-item {
  width: 100%;
  margin-bottom: 0;
}

.drink-column {
  flex: 1;
}

.drinks-item {
  width: 500px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.success-container {
  text-align: left;
  background-color: #918b8b;
  flex-direction: column;
  padding: 20px;
  display: block;
}

.button {
  background-color: var(--sienna);
  text-align: center;
  border-radius: 10px;
  font-family: Caster One, sans-serif;
  font-size: 16px;
}

.h4 {
  color: #fff;
  text-align: left;
  font-family: Caster One, sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.utility-page-wrap {
  background-color: var(--black-2);
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  display: flex;
}

.text-error {
  color: var(--white);
  margin-top: 10px;
  margin-bottom: 40px;
  font-family: Inconsolata, monospace;
}

@media screen and (max-width: 991px) {
  .section {
    height: auto;
  }

  .section.gallery {
    height: 500px;
  }

  .section.social {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .section.about {
    background-image: linear-gradient(to right, var(--black-2) 16%, #fff0 39%), linear-gradient(8deg, var(--black-2) 43%, #fff0 55%), linear-gradient(to bottom, var(--black-2), #fff0 37%), url('../images/Gusta_About-Us.jpg');
    background-position: 0 0, 0 0, 0 0, -300% -280%;
    background-repeat: repeat, repeat, repeat, repeat-x;
    background-size: auto, auto, auto, auto 90%;
    background-attachment: scroll, scroll, scroll, fixed;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .container.menu {
    width: auto;
  }

  .container.about {
    align-self: flex-end;
    width: auto;
    height: auto;
    padding-top: 300px;
  }

  .container.reservation {
    flex-wrap: wrap;
    width: auto;
    padding-top: 110px;
    padding-bottom: 20px;
  }

  .h2.social {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    line-height: 35px;
  }

  .h2.reservation {
    line-height: 48px;
  }

  .h3.footer.social {
    text-align: center;
  }

  .h3.hero {
    padding-left: 0;
    padding-right: 0;
  }

  .button-main.hero {
    width: 40%;
  }

  .button-main.form {
    margin-right: 0;
  }

  .button-sub.hero {
    width: 40%;
  }

  .line__gold {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .main-nav {
    flex-direction: row;
    justify-content: space-between;
    align-self: auto;
    padding: 10px;
    display: flex;
  }

  .navbar {
    flex-direction: column;
    justify-content: center;
    display: block;
  }

  .footer-wrapper {
    flex-wrap: wrap;
  }

  .footer-item {
    flex: 0 auto;
  }

  .footer-item.logo {
    flex: 0 auto;
    justify-content: center;
    width: 100%;
    padding-right: 0;
    display: flex;
  }

  .footer-item.social {
    text-align: center;
    width: 100%;
  }

  .footer-item.contact, .footer-item.hours {
    flex: 1;
  }

  .div-block-2 {
    flex-direction: column;
    align-items: center;
  }

  .social-wrapper-main {
    margin-top: 0;
  }

  .about-text-wrapper {
    align-items: flex-start;
    width: 80%;
    display: block;
  }

  .reservation-wrapper {
    flex: 0 auto;
  }

  .location-wrapper {
    flex: 1;
  }

  .reservation-form, .form-field-wrapper {
    padding-right: 0;
  }

  .form-field-wrapper.date {
    padding-right: 10px;
  }

  .form-field-wrapper.guests {
    padding-right: 0;
  }

  .menu-button {
    display: flex;
  }

  .icon {
    color: var(--white);
  }

  .error-message {
    margin-right: 0;
  }

  .drinks-item {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .section.about {
    background-image: linear-gradient(8deg, var(--black-2) 54%, #fff0 65%), linear-gradient(to bottom, var(--black-2), #fff0 20%), url('../images/Gusta_About-Us.jpg');
    background-position: 0 0, 0 0, 50% -60%;
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, auto 70%;
    background-attachment: scroll, scroll, fixed;
  }

  .container.about {
    align-self: flex-end;
    padding-top: 400px;
  }

  .h2 {
    font-size: 40px;
  }

  .h2.location {
    text-align: left;
  }

  .h2.social {
    font-size: 35px;
  }

  .h2.dine-discover {
    padding-left: 45px;
    padding-right: 45px;
  }

  .h3 {
    font-size: 20px;
  }

  .button-main.hero {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .button-sub.hero {
    width: 100%;
    margin-left: 0;
  }

  .food-subtext {
    font-size: 14px;
  }

  .footer-item.contact {
    padding-left: 30px;
  }

  .footer-item.hours {
    padding-right: 30px;
  }

  .about-text-wrapper {
    width: 80%;
  }

  .tab-style.sub-tab {
    width: 100%;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .tab-style.main-tab {
    margin-bottom: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .tabs-menu-2 {
    flex-direction: column;
  }

  .button.error {
    padding: 20px 25px;
    font-size: 24px;
  }

  .utility-page-content {
    width: 100%;
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media screen and (max-width: 479px) {
  .section.menu {
    padding-bottom: 30px;
  }

  .section.gallery {
    height: 300px;
  }

  .section.cta {
    flex-wrap: wrap;
    height: auto;
  }

  .section.about {
    background-image: linear-gradient(8deg, var(--black-2) 62%, #fff0 75%), linear-gradient(to bottom, var(--black-2), #fff0 16%), url('../images/Gusta_About-Us.jpg');
    background-position: 0 0, 0 0, 40% -40%;
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, auto 60%;
    background-attachment: scroll, scroll, fixed;
    height: auto;
  }

  .container.cta {
    flex-flow: column wrap;
    flex: 1;
    height: auto;
  }

  .h2 {
    text-align: center;
  }

  .h2.social {
    font-size: 24px;
    line-height: 30px;
  }

  .h2.about {
    font-size: 35px;
    line-height: 35px;
  }

  .h2.reservation {
    margin-bottom: 10px;
  }

  .h2.dine-discover {
    font-size: 20px;
    line-height: 30px;
  }

  .h3 {
    text-align: left;
    font-size: 20px;
    line-height: 22px;
  }

  .h3.footer {
    text-align: center;
  }

  .about-text.tab {
    font-size: 16px;
    line-height: 16px;
  }

  .about-text.main-tab {
    font-size: 20px;
    line-height: 16px;
  }

  .button-main.hero {
    width: 100%;
    margin-bottom: 10px;
    margin-right: auto;
  }

  .button-sub.hero {
    width: 100%;
    margin-left: auto;
  }

  .food-subtext {
    text-align: left;
  }

  .food-subtext.footer {
    text-align: center;
  }

  .food-subtext.phone {
    line-height: 25px;
  }

  .footer-wrapper {
    flex-wrap: wrap;
  }

  .footer-item.contact {
    padding-left: 20px;
  }

  .footer-item.hours {
    flex: 0 auto;
    width: 100%;
    padding-right: 20px;
  }

  .menu-item.half {
    width: 100%;
    margin-bottom: 0;
  }

  .item-wrapper {
    flex-flow: column wrap;
    justify-content: center;
  }

  .item-style {
    text-align: center;
  }

  .pasta-heading, .salad-heading, .dessert-heading {
    margin-bottom: 0;
  }

  .social-button-main {
    margin-left: 20px;
    margin-right: 20px;
  }

  .about-text-wrapper {
    width: 100%;
  }

  .section-2 {
    height: auto;
  }

  .list {
    margin-bottom: 0;
  }

  .image {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .footer-image-2 {
    max-width: 100%;
  }

  .tab-style.sub-tab {
    flex-direction: column;
    justify-content: center;
    display: flex;
  }

  .success-container {
    text-align: center;
  }

  .logo-hero {
    padding: 30px;
  }
}


@font-face {
  font-family: 'Caster One';
  src: url('../fonts/font.woff2') format('woff2'), url('../fonts/font.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}